CODA_API_KEY=8fed656f-8daa-4b21-b923-e8fb3472dd13
CODA_DOC_ID=pOv7VpPKDY
APIFY_API_KEY=apify_api_CZV7X9VST4cq6Y0Z1dTOM7x5ogxEsV3Sqrl2
MONGO_URI=mongodb://localhost:27017/fahs
FRONTEND_URL=http://localhost:3000
VIEWMAP_URL=https://fahs-mapa-mensajeria.vercel.app
NPM_TOKEN=